extends layouts/_layout
block content

	section
		.container
			h1= message

			.form-holder
				.card
					.card-body
						form
							.form-group
								label Name
								input.form-control(type="text" name='name')
							.form-group
								label Email address
								input.form-control(type='email' name="email")
								small.form-text.text-muted We'll never share your email with anyone else.
							button.btn.btn-primary(type='submit') Submit