extends layouts/_layout
block content

	section
		.container
			.row
				.col-6
						h1= message
						h1 Header 1
						h2 Header 2
						h3 Header 3
						h4 Header 4
						h5 Header 5
						h6 Header 6
						
				.col-6
					p Ionicons: 
						ion-icon(name='alarm' size="large")
						ion-icon(name='barcode' size="large")
					p User preferred locale: #{userLocale}
					p Memory used: #{memoryUsed}
	section
		.container
			.row
				- for (var x = 0; x < 4; x++)
					.col-md-3
						.cell
							h5 Pug loop item

			img(src="img/javascript.svg", alt="")
			hr
			

			

