extends layouts/_layout
block content

	section
		.container
			h1.text-center Sandbox:
			
			h3 Users from api:
			ul
				if users
					each user in users
						li= user.name
				else
					li please wait...