extends layouts/_layout
block content

	section
		.container
			h1 USERS FROM MYSQL: 
			
			table.table.table-hover
				thead.thead-dark
					tr
						th(scope='col') #
						th(scope='col') Name
						th(scope='col') Email
						th(scope='col') Location
				tbody
					
					each person in result
						tr
							th(scope="row")= person.ID
							td
								a(href='/user/'+person.id)= person.NAME
							td= person.email
							td= person.location
