html,
body {
    height: 100%;
    background: white;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
}

main {
    flex-grow: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    max-width: 100%;
}

/* ==== */
section {
    padding: 3rem 0;
}

.cell {
    height: 100px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
        margin-bottom: 0;
    }
}

hr {
    margin: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section-404 {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px 0;
    background: #081421;
    /* text-align: center;
  color: white;
  background: url("/img/404.jpg") no-repeat center/cover; */
}
.code-area {
    color: #d3d7de;
    font-family: "Courier new";
    font-size: 18px;
    line-height: 1.5em;
    width: 320px;
    margin: auto;
    > span {
        display: block;
    }
}

.form-holder {
    max-width: 390px;
}
